.login-container {
  display: flex;
  flex-direction: row;
}

.login-image-container {
  width: 60%;
}

.login-image-container img {
  width: 90%;
  height: 115%;
}



.login-form {
  margin-top: 5%;
  /* margin-right:5%; */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-color: transparent;
  border: none;
}

.login-image-container2 {
  width: 94%;
}

.login-image-container2 img {
  width: 90%;
  height: 115%;
}

.login-form2 {
  margin-top: 0%;
  /* margin-right: 10%; */
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-color: transparent;
  border: none;
  margin-left: -9%;
  /* margin-right: 5%; */
}

.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
}

.red-border {
  border: 1px solid red;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;

}

.login-form-container2 {
  /* background-color: blue; */
  width: 80%;
  height: 40%;
  margin-left: 18%;
  margin-top: -13%;
  /* margin-bottom: 100%; */
}

.login-btn {
  background-color: rgb(31, 2, 85);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 30%;
  position: static;
  width: 40%;
  font-size: 100%;
}

.login-btn:hover {
  background-color: #14017c;
}

p {
  margin-left: 25%;
}

.my-image {
  margin-top: 0%;
  padding-left: 10%;
  margin-left: 8%;
  margin-bottom: 10%;
}

.new {
  display: none;
}

.login-form-container h2 {
  color: rgb(35, 1, 63);
}

/*--------------------- Sidebar CSS Start */

.sidebar {
  height: 100vh;
  background: linear-gradient(#19105b, #472067, #7c3375, #ff6196);
  width: 13.7vw;
}

.menu-button {
  display: none;
}

.sidebar-content {
  height: 90vh;
  padding-top: 1%;
}

.sidebar-menu-top {
  list-style-type: none;
  padding-left: 10%;
  height: 75vh;
}

.sidebar-menu-top img {
  width: 10%;
  margin-bottom: 10%;
}

.sidebar-menu-top {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: Arial;
  color: #f5f5f5;
}

.sidebar-menu-top li {
  padding-bottom: 10%;
  cursor: pointer;
}

.sidebar-logout {
  width: 55%;
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  color: #f5f5f5;
  font-weight: bolder;
  margin-top: 75%;
  padding: 7%;
  border-top: 1px whitesmoke solid;
  border-left: 30px solid transparent;
  border-right: 10px solid transparent;
}

/* -----------------------------------sidebar css ends */


/*----------------------------------- Calendar CSS start */
.calendar-area {
  width: 86.3vw;
  /* padding-left: 13.7vw; */
  margin-left: 13.7vw;
  display: flex;
  flex-direction: row;
  /* overflow-y: hidden; */
  background-color: #543fdc;
}

.dashboard-header {
  text-align: start;
  margin-top: -2.4%;
  font-size: 24px;
  font-family: Arial;
  color: #19105B;
  font-weight: 600;

}

.fc .fc-toolbar-title {
  font-size: 1.2em;
}

.calendar-table {
  /* display: none; */
  text-align: center;
  position: relative;
  margin-top: -93vh;
  width: 68vw;
  margin-left: 1vw;
}

.calendar-dropdown-area {
  position: relative;
  margin: -93vh 0 0 1%;
  width: 18.5%;
  background-color: #f4f3f9;
}

.calendar-dropdownFilter {
  background-color: #2C3E50;
  height: 6.7%;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-dropdownFilter select {
  width: 80%;
  height: 1.3rem;
  border-radius: 0.3rem;
  outline: none;
}

.calendar-dropdown-details {
  /* background-color: #c5bff4; */
  background-color: #f5f4ff;
  height: 40.5%;
  margin-top: 12%;
  border-radius: 0.3rem;
  padding: 5%;
}

.calendar-event-area {
  background-color: #f5f4ff;
  height: 40%;
  border-radius: 0.3rem;
  margin-top: 1%;
  padding: 5%;
}

.calendar-event-area-header,
.calendar-dropdown-details-header {
  background-color: red;
  margin-top: -5%;
  position: relative;
  width: 106%;
  margin-left: -5%;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  padding: 2%;
  text-align: center;
  background-color: #14017c;
  color: white;
}

/*------------------------------------- Calendar CSS ends */




/*----------------------PROJECT ALLOCATION CSS STARTS --------*/
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial;
}

th,
td {
  text-align: left;
  padding: 1%;
  vertical-align: middle;
}

th {
  background: #FEE5EE;
  color: #19105b;
  font: 12.5px arial;
  font-weight: bold;
}

td {
  font: 12.5px arial;
  border-bottom: 1px solid #ddd;
}

.project-title th {
  background-color: #271b87;
  color: white;
}

.project-search {
  height: 1.9rem;
  border-radius: 5px;
  padding-left: 10px;
}

.project-content {
  flex: 1;
  padding: 20px;
  /* position: relative; */
  margin-left: 13.5%;
  margin-top: -58%;
}

/*-------------------------------------------project allocation ends-----*/



/* ------------------------------------------ManageEvent CSS starts */
.modal {
  /* display: none;  */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search button {
  width: 33%;
  height: 2.2rem;
  border: 0;
  color: white;
  border-radius: 2px;
}

.search input {
  height: 1.9rem;
  border-radius: 5px;
  padding-left: 10px;
}

/* For whole creat event form */
.event-form-container {
  background-color: white;
  width: 38%;
  margin-left: 30%;
  padding: 10px 20px 10px 20px;
  font-size: 11px;
  color: rgb(75, 73, 73);
  border-radius: 10px;
  margin-top: 8%;
  height: 53vh;
  box-shadow: 0 24px 38px 3px rgba(226, 218, 218, 0.459), 0 9px 46px 8px rgba(35, 34, 36, 0.661), 0 11px 15px -7px rgba(196, 194, 199, 0.363);
}

/* For Heading */
.event-form-container p {
  color: #19105B;
  font-size: 22px;
  font-weight: bold;
  margin-left: 0%;
  margin-top: 0%;
}

/* For event name */
.form-name {
  margin-right: 10%;
}

.form-name label {
  display: block;
  padding-top: 3px;
  margin-bottom: 3px;

}

/* For event name input */
.form-name input {
  width: 110%;
  height: 1.8rem;
  color: rgb(75, 73, 73);
  outline: none;
}

/* for select event form */
.form-type {
  width: 50%;
  margin-left: 3%;
}

.form-type select {
  padding: 5px 5px 5px 5px;
  margin-top: 1.5%;
  height: 1.8rem;
  width: 80%;
}

.form-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(75, 73, 73);
  outline: none;
}

/* For Description */
.form-desc {
  margin-bottom: 5px;
  padding-top: 10px;

}

/* For Description text area */
.form-des {
  width: 100%;
  height: 60px;
  margin-top: 1%;
  padding: 13px;
  box-sizing: border-box;
  color: rgb(75, 73, 73);
  outline: none;
}

.form-button {
  background-color: #FF6196;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 3%;
  float: right;
}

.add-event-btn {
  float: right;
  margin-right: 3%;
  margin-bottom: 2%;
}

.ad-ev-btn {
  background-color: #FF6196;
  padding: 10px 10px 10px 10px;
  border: 0;
  width: 120%;
  height: 35px;
  font-size: 16px;
  color: white;
  border-radius: 2px;
}

.events-table {
  width: 99%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  font-size: 14px;
  padding: 10px;
  color: rgb(87, 86, 86);
  /* border: 3px solid #83069f; */
}

.events-table th,
.events-table td {
  /* border: 1px solid #83069f; */
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

.events-table th {
  background-color: #f2f2f2;
}

.events-table th:first-child,
.events-table td:first-child {
  border-left: none;
}

.events-table th:last-child,
.events-table td:last-child {
  border-right: none;
}

.edit-btn {
  align-items: center;
  width: 2%;
}

.btnnn {
  /* background-color: rgb(119, 7, 106); */
  background-color: #FF6196;
  color: white;
  border: 0;
  width: 110%;
  height: 27px;
  border-radius: 2px;
  cursor: pointer;
}

.dlte-btnnn {
  width: 100%;
  background-color: #FF6196;
  color: white;
  border: 0;
  height: 27px;
  border-radius: 2px;
  cursor: pointer;
}

.events-table th {
  background-color: #19105B;
  color: white;
  height: 2rem;
}

.bord {
  border-bottom: 2px dotted rgb(75, 5, 196);
}

.manageEvent-page {
  position: relative;
  margin-left: 15%;
  margin-top: -57%;
}

.add-event-input-area {
  border-top: dashed 1px black;
  border-bottom: dashed 1px black;
  font-size: 13px;
  color: #6A6C71;
  font-family: Arial;
  font-weight: 100;
  padding-top: 2%;
}

.add-event-name-data, .time, .dates {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 2%;
}

.start-date, .end-date, .start-time, .end-time {
  margin-left: 0%;
  margin-right: 10%;
  width: 50%;

}

.start-time input, .end-time input, .start-date input, .end-date input {
  padding: 10px;
  box-sizing: border-box;
  margin-top: 2%;
  height: 1.8rem;
  color: rgb(87, 86, 86);
  outline: none;
  display: flex;
  width: 100%;
}

.is_allday {
  position: relative;
  padding-top: 2%;
}

/* ------------------------------------------ManageEvents css ends */


/*----------------------------- MEDIA QUERY */

@media only screen and (max-width: 380px) {

  /*----------------------Sidebar css starts*/
  body {
    overflow-y: scroll;
  }

  .sidebar {
    height: 100vh;
    width: 0%;
    background: linear-gradient(#19105b, #472067, #7c3375, #ff6196);
    overflow-x: hidden;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .sidebar.active {
    width: 190px;
    /* Adjust the width as needed */
  }

  .menu-button {
    display: block;
    position: fixed;
    top: 10px;
    left: 8px;
    z-index: 2;
  }

  .sidebar-close-btn {
    padding-left: 10rem;
    color: white;
  }

  /* -----------------------Sidebar css ends */



  /* --------------------Calendar css Starts */
  .calendar-area {
    width: 70vw;
    height: 62vh;
    background-color: white;
    margin-left: 13.7vw;
    display: flex;
    flex-direction: column;
    margin-top: 170%;
  }

  .fc-header-toolbar.fc-toolbar {
    padding-top: 10%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .fc-toolbar-title {
    text-align: center;
    font-size: 12px;
  }

  .fc-toolbar-chunk {
    width: 68vw;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }

  .calendar-dropdown-area {
    position: relative;
    margin: 5vh 0 0 0;
    width: 70vw;
    background-color: #f4f3f9;
  }

  .calendar-dropdownFilter {
    background-color: #19105b;
    height: 6vh;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calendar-dropdownFilter select {
    width: 80%;
    height: 1.3rem;
    border-radius: 0.3rem;
    outline: none;
  }

  .calendar-dropdown-details {
    background-color: #bab3f3;
    height: max-content;
    margin-top: 1%;
    border-radius: 0.5rem;
    padding: 5%;
  }

  .calendar-event-area {
    background-color: #c5bff4;
    height: max-content;
    border-radius: 0.5rem;
    margin-top: 1%;
    padding: 5%;
  }

  .calendar-dropdown-details-header,
  .calendar-event-area-header {
    margin-top: -5%;
    position: relative;
    width: 70vw;
    margin-left: -6%;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    padding: 2%;
    text-align: center;
    background-color: #14017c;
    color: white;
  }

  /*---------------------- Calendar css ends */


  /* ------------------------------------Project Allocation CSS starts */
  .project-content {
    height: 30vh;
    padding-top: 50%;
    margin-top: -49% !important;
    margin-left: 0%;
  }

  /* ----------------------------Project Allocation cs end */


  /* ------------------------------------------ManageEvent CSS starts */
  .modal {
    /* display: none;  */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .search button {
    width: 3%;
    height: 2.2rem;
    background-color: #FF6196;
    border: 0;
    color: white;
    border-radius: 2px;
  }

  .search input {
    height: 1.9rem;
    border-radius: 5px;
    padding-left: 10px;

  }

  /* For whole creat event form */
  .event-form-container {
    background-color: white;
    width: 38%;
    margin-left: 30%;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
    color: rgb(75, 73, 73);
    border-radius: 10px;
    margin-top: 8%;
    height: 53vh;
    box-shadow: 0 24px 38px 3px rgba(226, 218, 218, 0.459), 0 9px 46px 8px rgba(35, 34, 36, 0.661), 0 11px 15px -7px rgba(196, 194, 199, 0.363);
  }

  /* For Heading */
  .event-form-container p {
    color: #19105B;
    font-size: 22px;
    font-weight: bold;
    margin-left: 0%;
    margin-top: 0%;
  }

  /* For event name */
  .form-name {
    margin-right: 10%;
  }

  .form-name label {
    display: block;
    padding-top: 3px;
    margin-bottom: 3px;

  }

  /* For event name input */
  .form-name input {
    width: 110%;
    height: 1.8rem;
    color: rgb(75, 73, 73);
    outline: none;
  }

  /* for select event form */
  .form-type {
    width: 50%;
    margin-left: 3%;
  }

  .form-type select {
    padding: 5px 5px 5px 5px;
    margin-top: 1.5%;
    height: 1.8rem;
    width: 80%;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(75, 73, 73);
    outline: none;
  }

  /* For Description */
  .form-desc {
    margin-bottom: 5px;
    padding-top: 10px;

  }

  /* For Description text area */
  .form-des {
    width: 100%;
    height: 60px;
    margin-top: 1%;
    padding: 13px;
    box-sizing: border-box;
    color: rgb(75, 73, 73);
    outline: none;
  }

  .form-button {
    background-color: #FF6196;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3%;
    float: right;
  }

  .add-event-btn {
    float: right;
    margin-right: 3%;
    margin-bottom: 2%;
  }

  .ad-ev-btn {
    background-color: #FF6196;
    padding: 10px 10px 10px 10px;
    border: 0;
    width: 120%;
    height: 35px;
    font-size: 16px;
    color: white;
    border-radius: 2px;
  }

  .events-table {
    width: 99%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    font-size: 14px;
    padding: 10px;
    color: rgb(87, 86, 86);
    /* border: 3px solid #83069f; */
  }

  .events-table th,
  .events-table td {
    /* border: 1px solid #83069f; */
    padding: 8px;
    text-align: left;
    font-size: 14px;
  }

  .events-table th {
    background-color: #f2f2f2;
  }

  .events-table th:first-child,
  .events-table td:first-child {
    border-left: none;
  }

  .events-table th:last-child,
  .events-table td:last-child {
    border-right: none;
  }

  .edit-btn {
    align-items: center;
    width: 2%;
  }

  .btnnn {
    /* background-color: rgb(119, 7, 106); */
    background-color: #FF6196;
    color: white;
    border: 0;
    width: 110%;
    height: 27px;
    border-radius: 2px;
    cursor: pointer;
  }

  .dlte-btnnn {
    width: 100%;
    background-color: #FF6196;
    color: white;
    border: 0;
    height: 27px;
    border-radius: 2px;
    cursor: pointer;
  }

  .events-table th {
    background-color: #19105B;
    color: white;
    height: 2rem;
  }

  .bord {
    border-bottom: 2px dotted rgb(75, 5, 196);
  }

  .manageEvent-page {
    margin-top: 5%;
    margin-left: 5%;
  }

  .manageEvent-page h1 {
    padding-bottom: 1%;
  }

  .add-event-input-area {
    border-top: dashed 1px black;
    border-bottom: dashed 1px black;
    font-size: 13px;
    color: #6A6C71;
    font-family: Arial;
    font-weight: 100;
    padding-top: 2%;
  }

  .add-event-name-data, .time, .dates {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 2%;
  }

  .start-date, .end-date, .start-time, .end-time {
    margin-left: 0%;
    margin-right: 10%;
    width: 50%;

  }

  .start-time input, .end-time input, .start-date input, .end-date input {
    padding: 10px;
    box-sizing: border-box;
    margin-top: 2%;
    height: 1.8rem;
    color: rgb(87, 86, 86);
    outline: none;
    display: flex;
    width: 100%;
  }

  .is_allday {
    position: relative;
    padding-top: 2%;
  }

  /* ------------------------------------------ManageEvents css ends */



}

@media screen and (max-width: 600px) {
  .auth-form {
    width: 90%;
    padding: 15px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}